<div class="container">
  <link
  href="{{ with .OutputFormats.Get "jsonfeed"  }}{{ .Permalink }}{{ end }}"
  rel="alternate" type="application/json" title="{{ .Site.Title }}" />
  {{ range (where .Data.Pages "Section" "!=" "") }}
   <div class="row mb-5">
    <div class="col-md-10 col-sm-12">
    
      <h1><a href="{{ .URL | relLangURL }}">{{ .Title }}</a></h1>
      <p class="blog-date d-md-none">{{ .Date.Format "Jan 2 2006" }}</p>
      <p>{{ .Summary }}</p>
    </div>
    <div class="col-md-2 col-sm-12">
      <div class="mt-5">
        <p class="blog-date pull-right d-none d-md-block">{{ .Date.Format "Jan 2 2006" }}</p>
        <a class="btn btn-lg btn-outline-primary pull-right" href="{{ .URL | relLangURL }}">Read more</a>
      </div>
    </div>
   </div>
   {{ end }}
   <div class="row mb-5">
    <div class="col-12">
      <a href="{{ .Site.Params.rss }}" target="_blank" class="btn btn-lg btn-outline-primary">Subscribe (RSS)</a>
    </div>
   </div>
  </div>
